## 타이타닉 데이터 분석 실습

정답용 파일에 설명이랑 같이 해놓음!  test데이터에 대한 성능확인은 빠져있음 그거까지 해야됨 우리는!

### 진행해야 할 절차 리스트업
 
1. 데이터 입력 및 확인 -> 전처리가 필요할 경우 전처리 진행
2. 탐색적 데이터 분석 -> 다양한 시각화를 통해서 데이터를 전체적으로 이해하고, 모델링에 필요한 정보 및 변수 선택의 논리를 정리함
3. feature engineering -> 모델의 성능을 높이기 위해 변수(feature) 변환 등의 engineering을 진행함
4. 모델링 및 결과확인 -> 종속변수의 형태에 따라 적절한 모델을 scikit-learn을 활용하여 모델링을 진행하고, 파라미터 튜닝등의 과정을 거쳐 최종적인 모델을 생성하고 결과를 확인함.

### 1.데이터 입력 및 확인

In [8]:
import pandas as pd
import numpy as np
%matplotlib inline

In [2]:
train_data = pd.read_csv('titanic.csv')
train_data.shape

(891, 12)

In [3]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

데이터들의 통계량을 살펴보기 위해 describe() 함수를 이용함. 이때는 연속형 변수에 대한 통계량만 표현되므로, string 형태는 제외됨.

In [4]:
train_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

* 데이터 보면서 어떤 부분을 처리해야할지 고민해보기
 - 데이터에 결측치가 있는가? 
     - Age에 결측치 존재
 - 데이터에 이상치가 있는가?
 - 각 변수의 의미를 잘 파악하고있는가?
 - 어떤 변수가 종속변수에 영향을 줄지 예상하고 데이터 탐색적 분석에서 중점적으로 볼 것인가?
     - Pclass, Age, Fare 정도 예상
 - 종속변수가 이산형인데, 고르게 class 별로 분포되어 있는가? 
     - 이거는 matplotlib으로 알아내는 건가?

### 2. 탐색적 데이터 분석

기본적으로 탐석적 데이터 분석에서는 차트를 많이 활용한다. 그리고 아래의 관점에서 데이터를 살펴보자.

- 각 변수별 분포는 어떠한가? 이상한점은 없는가?
- 주요 변수로 어떠한 것들이 있으며, 어떠한 형태를 보이는가?
- 주요 변수들과 종속변수의 관계는 어떻게 되는가? 예를들어 성별에 따라 생존률의 차이를 보이는가?

In [7]:
train_data.hist(bins=30,figsize=(20,10), grid=False)

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x0000025A338777F0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000025A338A5C18>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000025A338DDC18>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x0000025A33921128>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000025A3395A668>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000025A3395A6A0>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x0000025A339BE438>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000025A339F5438>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x0000025A33A31438>]], dtype=object)

### 3. Feature Engineering

### 변수 생성

필요한 변수가 있을 경우, 이에 대한 변수를 생성 할 수 있음.
이에 대한 논리와 근거는 위의 탐색적 데이터 분석을 통해 도출할 수 있음
한 개 이상의 기존에 존재하지 않는 변수를 생성하여 데이터로 활용해보자.

### dummy 변수 생성

더미 변수란, 이산형의 의미를 변수가 지니고 있을 때, 이를 one-hot encodiing으로 변환시켜주는 것을 의미함. 현재 데이터에서는 더미변수를 통해 변환을 진행해줘야할 변수가 존재하며, 이를 진행해보자.

### 불필요한 변수 제거

최종적으로 모델링에 불필요한 변수를 제거함.

### 4. 모델링 및 결과 확인

수업시간에 다루었던 알고리즘 중, 분류 문제에 해당하는 알고리즘 중 일부를 사용함. 파라미터 튜닝도 필요하므로, 이를 진행함.

우선 데이터를 train/test로 구분함

In [73]:
from sklearn.model_selection import train_test_split
X=
y=

In [76]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
X_train.shape, X_test.shape

((712, 13), (179, 13))

배운 알고리즘 중, SVC, RandomForest, XGboost 알고리즘을 적용하여 파라미터 튜닝 및 결과를 얻어본다. 파이프라인을 이용하거나, 이용하지 않고 Gridsearch를 이용하여 진행해보자.

In [5]:
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

D:\dev\anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [6]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings(action='ignore', category=DeprecationWarning)